[submodule "plugins/elysia-plugin/skills"]
	path = plugins/elysia-plugin/skills
	url = https://github.com/elysiajs/skills.git
[submodule "plugins/better-auth-skills"]
	path = plugins/better-auth-skills
	url = https://github.com/better-auth/skills.git
